<aside class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}" class="no-underline"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ .Site.Params.introduction }}
      </p>
      <p class="desc">
      {{ .Site.Params.description }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        <li><a href="{{ .Site.Params.githubURL }}" target="_blank">GitHub</a> </li>
        <li><a href="{{ .Site.Params.linkedinURL }}" target="_blank">LinkedIn</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p class="copyright-text">{{ .Site.Params.author }} &copy; {{ now.Format "2006"}}. All rights reserved.</p>
  </div>
</aside>
